body .sideBarCloseButton {
    position: absolute;
    top: 46.3%;
    right: -21px;
    width: 22px;
    background-color: transparent;
    @media (max-width: 992px) {
        top: 46.8%;
    }
    @media (max-width: 767px) {
        top: 20px;
        right: -33px;
        width: 34px;
    }

    &:active,
    &:hover,
    &:focus {
        background-color: transparent;
    }
}
