body .menu {
    height: 100%;
    &__sideBarMenu {
        display: flex;
        flex-direction: column;
        ul {
            li {
                width: 100%;
                padding: 0;
            }
        }
        span {
            display: flex;
            width: 100%;
        }
        svg {
            path {
                fill: var(--geekblue-9);
            }
        }
    }
}
