body .layout {
    width: 100%;
    min-height: 100dvh;
    margin: 0 auto;
    background: url('../../../public/MainPage/Main page_light.jpg') 50% 50% / cover no-repeat;
    .innerLayout {
        background: transparent;
    }
}
