body .sider div {
    display: flex;
    flex-direction: column;
}

body .sideBarContent {
    flex: 1 1 auto;
}

body .sideBarCloseButton {
    position: absolute;
    top: 46.3%;
    right: -21px;
    width: 22px;
    background-color: transparent;
}

@media (max-width: 992px) {
    body .sideBarCloseButton {
        top: 46.8%;
    }
}

body .sideBarCloseButton:active,
body .sideBarCloseButton:hover,
body .sideBarCloseButton:focus {
    background-color: transparent;
}

body .sideBarCloseButton *:active,
body .sideBarCloseButton *:hover,
body .sideBarCloseButton *:focus {
    background-color: transparent;
}

body .logo {
    padding-top: 43px;
    padding-right: 1rem;
    padding-bottom: 58px;
}

body .exit {
    border-top: 1px solid var(--gray-4);
}

body .exit .exitItem {
    margin: 0;
}

body .exit .exitItem span:nth-child(2) {
    margin-left: 25px;
}
